In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
%matplotlib inline

In [5]:
DF = pd.read_csv('paul-newfood.csv')

In [6]:
DF.head()

   Sales  PriceLevel  AdLevel  StoreSize
0    620           1        1         34
1    774           1        1         41
2    955           1        2         32
3    669           1        2         28
4    623           1        1         34

In [7]:
DF.describe()

             Sales  PriceLevel    AdLevel  StoreSize
count    24.000000   24.000000  24.000000  24.000000
mean    571.416667    2.000000   1.500000  32.333333
std     212.629279    0.834058   0.510754   6.424590
min     294.000000    1.000000   1.000000  19.000000
25%     393.250000    1.000000   1.000000  28.750000
50%     550.000000    2.000000   1.500000  32.000000
75%     677.000000    3.000000   2.000000  37.000000
max    1208.000000    3.000000   2.000000  43.000000

In [9]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sales       24 non-null     int64
 1   PriceLevel  24 non-null     int64
 2   AdLevel     24 non-null     int64
 3   StoreSize   24 non-null     int64
dtypes: int64(4)
memory usage: 896.0 bytes

In [13]:
DF.PriceLevel = pd.Categorical(DF.PriceLevel) # Converting variable into categories/categorical

In [14]:
DF.PriceLevel.value_counts

<bound method IndexOpsMixin.value_counts of 0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    3
17    3
18    3
19    3
20    3
21    3
22    3
23    3
Name: PriceLevel, dtype: category
Categories (3, int64): [1, 2, 3]>

In [15]:
DF.AdLevel = pd.Categorical(DF.AdLevel)

In [17]:
DF.AdLevel.value_counts()

2    12
1    12
Name: AdLevel, dtype: int64

In [1]:
import os

In [3]:
os.mkdir('C:\\Users\\Aditya Rishi\\Downloads\\advanced_statistics\\mentoring_session_dir')